Desafio2/node_modules/
Desafio5/node_modules/
Desafio7/node_modules/
Desafio8/node_modules/
Desafio9/node_modules/
Desafio10/node_modules/
Desafio11/node_modules/
Desafio12/node_modules/
Desafio13/node_modules/
Desafio14/node_modules/
Desafio17 - MySql/node_modules/
Desafio20 - Mongo y Node Js/node_modules/
Desafio21 - Pre Entrega/node_modules/
Desafio22 - Test Unitarios/node_modules/
Desafio23 - Centro de Mensajes/node_modules/
Desafio24 - Log in por fomulario/node_modules/
Desafio25 - Persistir datos de session en Mongo Atlas/node_modules/
Desafio26/node_modules/
Desafio27/node_modules/
Desafio28/node_modules/
Desafio29/node_modules/
Desafio29/.env
Desafio30/node_modules/
Desafio30/.env
Desafio31/node_modules/
Desafio31/.env
Desafio32/node_modules/
Desafio32/.env
Desafio33/node_modules/
Desafio33/.env
Desafio34/node_modules/
Desafio34/.env
Desafio35/node_modules/
Desafio35/.git
Desafio35/.gitignore
Desafio35/.env
Desafio38/node_modules/
Desafio38/.env
Desafio38/.gitignore
DesafioGenerico23/
DesafioGenerico28/
DesafioGenercio29/
DesafioGenerico31/
DesafioGenerico32/
DesafioGenerico35/
DesafioGenerico36/
DesafioGenerico38/
DesafioGenerico39/
DesafioGenerico40/
DesafioGenerico41/
desgins/













