<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <div class="container">

      <%- include('../partials/header'); %>

      <h2>Prueba de Webscoket</h2>

      <%- include('../partials/form-productos'); %>

      <br>

      <%- include('../partials/tabla-productos'); %>

      

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./static/js/index.js"></script>

</body>
</html>