<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <div class="container">

      <%- include('../partials/header'); %>

      <h2>Webscoket</h2>

      <%- include('../partials/form-productos'); %>

      <br>

      <!-- <%- include('../partials/tabla-productos'); %> -->

      <table class="table">
        <thead>
            <tr>
              <th scope="col">#id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Icono/Imagen</th>
            </tr>
        </thead>
        <tbody id="tabla_body">
        </tbody>
    </table>

      

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./static/js/index.js"></script>

</body>
</html>