<h3>Centro de Mensajes</h3>

<label for="email-user" class="form-label">Correo Electrónico de Usuario:</label>
<input type="email" name="email-user" id="email-user" class="form-control">

<h4>Board Chat</h4>
<div id="chat-board"></div>

<label for="mensaje-chat" class="form-label">Correo Electrónico de Usuario:</label>
<input type="text" name="mensaje-chat" id="mensaje-chat" class="form-control">

<button id="btn-sendchat" class="btn btn-primary">Enviar Mensaje</button>