<h1 class="row">Bienvenidx usuarix:</h1>

<div class="row">


<p>Esto ingresa por info de sessión: {{data.user}}</p>


  <div class="col" id="user-session">

      
  </div>

  <form
    id="form-product"
    action="http://localhost:8080/api/logout"
    method="POST"
    class="col"
  >

    <button
      id="btn-addproduct"
      type="submit"
      class="btn btn-primary"
    >Desloguear</button>

  </form>

</div>