<h1 class="row">Bienvenidx usuarix:</h1>

<div class="row">


<p>¡Hola {{data.user._json.first_name}} {{data.user._json.last_name}}!</p>
<p>Tu correo es {{data.user._json.email}}</p>

<img src="" alt="" srcset="{{data.user._json.picture.data.url}}">



  <div class="col" id="user-session">

      
  </div>

  <form
    id="form-product"
    action="http://localhost:8080/api/logout"
    method="POST"
    class="col"
  >

    <button
      id="btn-addproduct"
      type="submit"
      class="btn btn-primary"
    >Desloguear</button>

  </form>

</div>