<h2>LOGIN</h2>

<form id="form-product" action="http://localhost:8080/api/signup" method="POST" class="container">
  <div class="mb-3">
    <label for="title" class="form-label">Usuario:</label>
    <input type="text" class="form-control" id="login" name="username" />
  </div>

  <button class="btn btn-primary" id="btn-login" type="submit" class="btn btn-primary">Login</button>
</form>

<div id="session-success">

</div>